
<h2>Create a new podcast episode</h2>
<form action="/recordings" method="POST">
	<p><label>Title</label> <input class="text" type="text" name="title" /></p>
	<p><label>MP3 URL</label> <input class="text" type="text" name="mp3_url" /></p>
	<p><label>Size (in MBs)</label> <input type="text" name="size" /></p>
	<p><label>Description</label><textarea cols="50" rows="10" name="description"></textarea></p>
	<p><label>&nbsp;</label><input type="submit" value="create"/></p>
</form>
	